<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="../css/style.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> -->
</head>
<body>

    <section class="item-list">

        <div class="title">
            <h3>강아지용품</h3>
        </div>
        
        <!-- 물품 1행 -->
        <div class="item-row">
                
                <div class="item">
                    <a href="#">
                        <img src="../img/toothbrush.jpg" alt="img1">
                    </a>
                    <br>
                    <span>애견 칫솔</span> <br>
                    <span>4,900원</span>
                </div>

                <div class="item">
                    <a href="#">
                        <img src="../img/pad.png" alt="img2">
                    </a>
                    <br>
                    <span>배변패드</span> <br>
                    <span>6,900원</span>
                </div>

                <div class="item">
                    <a href="#">
                        <img src="../img/toothbrush.jpg" alt="img3">
                    </a>
                    <br>
                    <span>애견 칫솔</span> <br>
                    <span>4,900원</span>
                </div>

                <div class="item">
                    <a href="#">
                        <img src="../img/pad.png" alt="img4">
                    </a>
                    <br>
                    <span>배변패드</span> <br>
                    <span>6,900원</span>
                </div>
        </div>

        <!-- 물품 2행 -->
        <div class="item-row">
                
            <div class="item">
                <a href="#">
                    <img src="../img/toothbrush.jpg" alt="img5">
                </a>
                <br>
                <span>애견 칫솔</span> <br>
                <span>4,900원</span>
            </div>

            <div class="item">
                <a href="#">
                    <img src="../img/pad.png" alt="img6">
                </a>
                <br>
                <span>배변패드</span> <br>
                <span>6,900원</span>
            </div>

            <div class="item">
                <a href="#">
                    <img src="../img/toothbrush.jpg" alt="img7">
                </a>
                <br>
                <span>애견 칫솔</span> <br>
                <span>4,900원</span>
            </div>

            <div class="item">
                <a href="#">
                    <img src="../img/pad.png" alt="img8">
                </a>
                <br>
                <span>배변패드</span> <br>
                <span>6,900원</span>
            </div>
    </div>


    <!-- 물품 3행 -->
    <div class="item-row">
                
        <div class="item">
            <a href="#">
                <img src="../img/toothbrush.jpg" alt="img9">
            </a>
            <br>
            <span>애견 칫솔</span> <br>
            <span>4,900원</span>
        </div>

        <div class="item">
            <a href="#">
                <img src="../img/pad.png" alt="img10">
            </a>
            <br>
            <span>배변패드</span> <br>
            <span>6,900원</span>
        </div>

        <div class="item">
            <a href="#">
                <img src="../img/toothbrush.jpg" alt="img11">
            </a>
            <br>
            <span>애견 칫솔</span> <br>
            <span>4,900원</span>
        </div>

        <div class="item">
            <a href="#">
                <img src="../img/pad.png" alt="img12">
            </a>
            <br>
            <span>배변패드</span> <br>
            <span>6,900원</span>
        </div>
</div>


            
    
        <!-- <div class="pagination">
            <hr>
            <ul class="pagination pagination-sm justify-content-center" >
                <li><a href="#" class="page-link">이전</a></li>
                <li  class="active"><a href="#" class="page-link">1</a></li>
                <li><a href="#" class="page-link">2</a></li>
                <li><a href="#" class="page-link">3</a></li>
                <li><a href="#" class="page-link">4</a></li>
                <li><a href="#" class="page-link">5</a></li>
                <li><a href="#" class="page-link">다음</a></li>
            </ul>
            
        </div> -->
    
        <div class="pagination">

            <button type="button" onclick="location.href='#'">이전</button>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">7</a>
            <a href="#">8</a>
            <a href="#">9</a>
            <a href="#">10</a>
            <button type="button" onclick="location.href='#'">다음</button>
            
        </div>

        <div class="search">
            <input type="text" placeholder="검색어 입력">
            <button type="button" onclick="location.href='#'">검색</button>
        </div>
        
    </section>
    


</body>
</html>