<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <style>
        .myInfoModify1{
            text-align: center;
        }
        .myInfoModify1-notice {
            line-height: 3em;
        }
        .myInfoModify1-passwordOk {
            margin-top: 2em;
        }
        .myInfoModify1-password {
            width: 25em;
            height: 3em;
        }
        .myInfoModify1-ok {
            width: 25em;
            height: 2em;
            margin-top: 0.3em;
        }
        
    </style>

</head>
<body>
    <!-- 내 정보 수정에서 비밀번호 확인페이지 -->
    <section class="myInfoModify1">
        <article class = "myInfoModify1-myInfo">
            <h2>내 정보 수정</h2>
            <div class="myInfoModify1-notice">
                <h4>회원님의 안전한 정보 보호를 위해 다시 한번 비밀번호를 입력해주세요.</h4>
            </div>
            <div class="myInfoModify1-passwordOk">
                <input class="myInfoModify1-password" placeholder="비밀번호를 입력하세요."><br>
                <button class="myInfoModify1-ok">확인</button>
            </div>
        </article>
    </section>
    
</body>
</html>